.b-notes .mus {
    display: inline-block;
    font-size: 5em;
}
.descr {
    margin: 10px 0;
}
.alertify-logs {
    top: 10px;
    right: 10px;
}
.game {
    display: none;
}
.timeStats {
    margin: 10px 0;
}
.gameboard {
    background-color: #F8F8F8;
    padding: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.block {
    margin: 10px;
}
.filters {
    margin-bottom: 20px;
}
span.filter {
    margin-right: 10px;
}
.hidden { display: none; }
.correct { color: green; }
.wrong { color: red; }