html,
body {
  height: 100%;
}
.b-notes .mus {
    display: inline-block;
    font-size: 5em;
}
.descr {
    margin: 10px 0;
}
.alertify-logs {
    top: 10px;
    right: 10px;
}
.game {
    display: none;
}
.timeStats {
    margin: 10px 0;
}
.gameboard {
    background-color: #F8F8F8;
    padding: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.block {
    margin: 10px;
}
.filters {
    margin-bottom: 20px;
}
span.filter {
    margin-right: 10px;
}
.main {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer .links {
    margin: 20px 0;
}
.hidden { display: none; }
.correct { color: green; }
.wrong { color: red; }